print ('Привет, тут ты можешь сыграть сам с собой в шахматы V1, Только короли')

white = 1 #кол-во белых фигур
black = 1 #кол-во черных фигур
sequenсe = True # True белый ходит, False черный ходит

doska = list('*' * 8 for _ in range(8))


def go(kyda):
    



While no white or black:
    if sequenсe:
        go()
